* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Verdana;
    background-color: #e1b382;
}

header {
    text-align: center;
    color: #ffffff;
    padding: 25px;
}

.container {
    text-align: center;
}

ul {
    list-style-type: none;
}

input:placeholder-shown {
    font-style: italic;
}

input {
    outline: 0;
}
